@font-face {
font-family: "CustomFont";
src: url("sunday_april-webfont.eot");
src: url("sunday_april-webfont.woff") format("woff"),
url("sunday_april-webfont.otf") format("opentype"),
url("sunday_april-webfont.svg#filename") format("svg");
}
