@font-face {
font-family: "sundayapril";
src: url("https://github.com/CynaneShay/takingoffthetinfoilhat/tree/main/fonts/sunday_april-webfont.eot");
src: url("https://github.com/CynaneShay/takingoffthetinfoilhat/tree/main/fonts/sunday_april-webfont.woff") format("woff"),
url("https://github.com/CynaneShay/takingoffthetinfoilhat/tree/main/fonts/sunday_april-webfont.otf") format("opentype"),
url("https://github.com/CynaneShay/takingoffthetinfoilhat/tree/main/fonts/sunday_april-webfont.svg#filename") format("svg");
}
